<div class="calculator">
    <div class="title">Kumar Calculator</div>
    <div class="results">
        <div class="box">
            <div *ngIf="bool">&nbsp;{{ stack }}</div>
            <div *ngIf="bool2">{{ ops[0] }}</div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <button class="button" id="C" (click)="clear()">C</button>
            <button class="button" id="+/-" (click)="invert()">+/-</button>
            <button class="button" id="%" (click)="percent()">%</button>
            <button class="button" id="/" (click)="operateList('/')">/</button>
        </div>
        <div class="column">
            <button class="button" id="7" (click)="add('7')">7</button>
            <button class="button" id="8" (click)="add('8')">8</button>
            <button class="button" id="9" (click)="add('9')">9</button>
            <button class="button" id="*" (click)="operateList('*')">x</button>
        </div>
        <div class="column">
            <button class="button" id="4" (click)="add('4')">4</button>
            <button class="button" id="5" (click)="add('5')">5</button>
            <button class="button" id="6" (click)="add('6')">6</button>
            <button class="button" id="-" (click)="operateList('-')">-</button>
        </div>
        <div class="column">
            <button class="button" id="1" (click)="add('1')">1</button>
            <button class="button" id="2" (click)="add('2')">2</button>
            <button class="button" id="3" (click)="add('3')">3</button>
            <button class="button" id="+" (click)="operateList('+')">+</button>
        </div>
        <div class="column">
            <button class="button" id="0" (click)="add('0')">0</button>
            <button class="button" id="." (click)="add('.')">.</button>
            <button class="button" id="del" (click)="del()">del</button>
            <button class="button" id="=" (click)="compute()">=</button>
        </div>
    </div>
</div>
<br />
<p class="site-closing"></p>