.calculator {
    margin-top: 5%;
    background-color: lightblue;
    border-style: solid;
    border-width: 5px;
    border-radius: 25px;
    border-color: black;
    float: center;
    width: 40vw;
    height: 75vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title{
    color: red;
    font-size: 150%;
    margin-top: 5%;
    padding-left: 30%;
}

.results {
    color: red;
    font-size: 150%;
    padding-top: 15%;
    padding-left: 30%;
}

.box {
    background-color: white;
    color: red;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    width: 21vw;
    height: 10vh;
    margin-left: -5%;
    display: flex;
}

.button {
    width: 5vw;
    height: 5vh;
    margin-left: 6px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    border-radius: 0px;
    margin-left: 25%;
    width: 80%;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 100%;
    margin: 5px;
}

.column img {
    margin-top: 0px;
}

.button {
    background-color: white;
}

.button:hover {
    opacity: 0.5;
}

.button1 {
    background-color: white;
}

.button1:hover {
    opacity: 0.5;
}

@media(max-width: 480px){
    .calculator {
            margin-top: 5%;
            background-color: lightblue;
            border-style: solid;
            border-width: 5px;
            border-radius: 25px;
            border-color: black;
            float: center;
            width: 70vw;
            height: 75vh;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .title {
            color: red;
            font-size: 150%;
            margin-top: 5%;
            padding-left: 30%;
        }
    
        .results {
            color: red;
            font-size: 150%;
            padding-top: 5%;
            padding-left: 30%;
        }
    
        .box {
            background-color: white;
            color: red;
            border-style: solid;
            border-width: 5px;
            border-color: black;
            width: 50vw;
            height: 10vh;
            margin-left: -23%;
            display: flex;
        }
    
        .button {
            width: 10vw;
            height: 5vh;
            margin-right: 5px;
        }
        
        .row {
            display: flex;
            flex-wrap: wrap;
            padding: 0px;
            border-radius: 0px;
            margin-left: 12.5%;
            width: 80%;
            }
        
                /* Create two equal columns that sits next to each other */
        .column {
            flex: 100%;
            margin: 5px;
            }
}

@media (min-width: 480px) and (max-width: 1280px) {
    .calculator {
        margin-top: 5%;
        background-color: lightblue;
        border-style: solid;
        border-width: 5px;
        border-radius: 25px;
        border-color: black;
        float: center;
        width: 90vw;
        height: 75vh;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .title {
        color: red;
        font-size: 250%;
        margin-top: 5%;
        padding-left: 15%;
    }

    .results {
        color: red;
        font-size: 250%;
        padding-top: 5%;
        padding-left: 30%;
    }

    .box {
        background-color: white;
        color: red;
        font-size: 200%;
        border-style: solid;
        border-width: 5px;
        border-color: black;
        width: 70vw;
        height: 10vh;
        margin-left: -27%;
        display: flex;
    }

    .button {
        width: 15vw;
        height: 7.5vh;
        margin-right: 5px;
        font-size: 250%;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        border-radius: 0px;
        margin-left: 12.5%;
        width: 80%;
    }

    /* Create two equal columns that sits next to each other */
    .column {
        flex: 100%;
        margin: 5px;
    }
}