

.calculator {
  margin-top: 2%;
  margin-left: 30%;
  background-color: silver;
  border-style: solid;
  border-width: 5px;
  border-radius: 25px;
  border-color: black;
  width: 40vw;
  height: 75vh;
}

.title {
  color: white;
  font-size: 2rem;
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}

.results {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  color: purple;
  font-size: 150%;
}

.box {
  background-color: white;
  color: black;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  width: 21vw;
  height: 10vh;
  display: flex;
  text-align: left;
  overflow-x: hidden;
}

.button {
  width: 5vw;
  height: 5vh;
  background-color: white;
  border-radius: 8px;
  font-size: 1rem;
}

.row {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 3%;
  width: 100%;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 100%;
  margin: 5px;
}

.column img {
  margin-top: 0px;
}

.button:hover {
  background-color: silver;
}

.button1 {
  background-color: white;
}

.button1:hover {
  opacity: 0.5;
}

.backLinks {
  background-image: url('/assets/metal.svg');
  color: white;
  margin-left: 5%;
  margin-top: 1%;
  height: 4rem;
  border-radius: 8px;
  font-size: 1.5rem;
}

.backLinks:hover {
  background: none;
  background-color: purple;
}

.site-closing {
   background-image: url('/assets/space.svg');
  font-size: 100%;
  height: 15rem;
  margin-top: 5%;
  margin-bottom: 0;
}

@media (max-width: 480px) {
  .calculator {
    margin-top: 2%;
    margin-left: 12%;
    width: 70vw;
    height: 55vh;
  }

  .title {
    font-size: 150%;
    margin-top: 5%;
  }

  .results {
    font-size: 150%;
    padding-top: 5%;
  }

  .box {
    width: 50vw;
    height: 10vh;
  }

  .button {
    width: 10vw;
    font-size: 1em;
  }


@media (min-width: 481px) and (max-width: 1280px) {
  .calculator {
    float: center;
    width: 60vw;
    height: 70%;
    float: left;
    margin-top: -10%;
  }

  .title {
    font-size: 250%;
    margin-top: 5%;
    padding-left: 25%;
  }

  .results {
    font-size: 250%;
    padding-top: 5%;
  }

  .box {
    font-size: 200%;
    width: 40vw;
    height: 10vh;
  }

  .button {
    width: 8vw;
    height: 6vh;
    font-size: 100%;
  }

  .site-closing {
  margin-top: 65vh;
  margin-bottom:0;
}
}
}
